body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #000000; 
    color: #FFFFCC; 
}

h1 {
    color: #FFFFCC;
}

input[type="text"] {
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 8px 16px;
    background-color: #FFFFCC;
    color: black;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#message {
    margin-top: 20px;
}
